@{
    ViewBag.Title = "View Apps";
}
<h2>@ViewBag.Title</h2>

<div class="row" id="view-app-block">

</div>


@section scripts{
    <script src="~/Scripts/service-call.js"></script>
    <script>
        $(document).ready(function () {
            CallGet("/home/ViewAppsList", function (response) {
                if (response !== null && response !== undefined && response.isSuccess) {
                    var resultData = response.Result;
                    var html = "";
                    if (resultData.length > 0) {
                        for (var i = 0; i < resultData.length; i++) {
                            html += '<div class="col-md-4"><div class="card">' +
                                '<div class="card-body">' +
                                '<h3 class="card-title">' + resultData[i].name + '</h3>' +
                                '<h6 class="card-subtitle mb-2 text-muted">' + resultData[i].id + '</h6>' +
                                '<p class="card-text"> Players : ' + resultData[i].players + '</p>' +
                                '<p class="card-text"> Messageable Players : ' + resultData[i].messageable_players + '</p>' +
                                '<a href="/home/ViewApp/' + resultData[i].id + '" class="card-link">View Detail</a>';
                             if ('@User.IsInRole("ADMIN").ToString().ToLower()' == 'true')
                                {
                                    html += ' | <a href="/home/EditApp/' + resultData[i].id + '" class="card-link">Edit Detail</a>';
                            }
                            html += '</div></div></div>';
}
}
                    else {
                    html = '<div class="alert alert-primary alert-server" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert">×</button>' +
                        '<strong>Alert</strong> -  No Data To Display </div>';
                }
                    $("#view-app-block").html(html);
    } else {
                    // toastr.error(response.Message, 'Error');
                    var html = '<div class="alert alert-danger alert-server" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert">×</button>' +
                        '<strong>Alert</strong> - ' + response.Message + '</div>';
                    $("#view-app-block").html(html);
        }
    });
        });
    </script>
}